html {
	font-family: Helvetica;
}

:root {
	repC1: #DAA;
	repC2: #F22;
	demC1: #44A;
	demC2: #22F;
	indC1: #AAA;
	indC2: #555
}
.rep{
	fill: #FAA;
	stroke: #F22; 
	stroke-width: 2px;
}

.sideBox{
	border-radius: 10px;
}
.repBox{
	background:#FAA;
}
.demBox{
	background:#AAF;
}
.indBox{
	background:#CAC;
}

.demText{
	font-size: 18px;
	fill: #AAF;
	opacity: 1;
}
.repText{
	fill: #FAA;
	opacity: 1;
}

.dem{
	fill: #AAF;
	stroke: #22F;
	stroke-width: 2px;
}
.ind{
	fill: #CAC;
	stroke: #656;
	stroke-width: 2px;
}

.button{
	fill-opacity: .6;
	stroke-opacity: .6;

}

.Title{

}
.axisTitle{

}

.button.active{
	fill: #FF530F;
	stroke: #FF530F;
	stroke-width: 8;
}
.button.mouseOver{
	fill: #0DE488;
	stroke: #0DE488;
/*	stroke-width: 6;*/


}

.button.neutral{
	fill: #1B8AE0;
	stroke: #1B8AE0;
/*	stroke-width: 4;*/
}

.startMonth{

}

.endMonth{

}

.butText{

}

.graphTitle{

}

.loadingText{

}

.axisLabels{

}
